.SearchBar{
    width: 300px;
    height: 60px;
    margin: auto;
    margin-top: 10px;
}
.SearchBar input[type='text']{
    width: 94%;
    height: 70%;
    padding:7px;
    font-size: 20px;
}
.Body{
    margin-top: 10px;
    width: 85%;
    height: 100%;
    border: 2px solid black;
    margin-left: 10vw;
    overflow: scroll; 
    /* display: flex; */
    /* justify-content: space-between; */
}
.frame{
    display: inline-block;
    width: 43%;
    margin: 30px 30px 30px 45px;
    border: 2px solid gray;
    height: 75%;
}
.frame_content{
    margin-left:10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
.frame_book{
    border: 2px solid red;
    display: flex;
}
.frame_book img{
    width: 263px;
    height: 359px;
}
.frame_content p{
    font-size: 20px;
}