*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
}
.app-cont{
  width: 100vw;
  height: 100vh;
}
.border {
  border: 1px solid gray;
  box-shadow: 5px 5px 5px #888888;
}